*{
	font-family: century gothic;
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-size: 20px;
	color: white;
	height: 100vh;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
	padding-bottom: 58px;
	min-height: 100vh;
}
@keyframes change{
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}
ul{
	position: absolute;
	top: 3%;
	left: 40%;
	list-style: none;
	margin-top: 10px;
}
ul li{
	display: inline-block;
}
ul li a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 17px;
	border: 1px solid transparent; 
	transition: 0.6s ease;
	font-size: 120%;
	font-weight: bold;
	letter-spacing: 2px;
}
ul li a:hover{
	background-color: white ;
}
.home-area{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29 ;
	border-radius: 4px;
	display: flex;
	width: 1000px;
}
.home-area:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.home-area .image{
	width: 150px;
	flex: 0 0 150px;
}
.home-area .image img{
	max-width: 100%;
}
.home-area .contents{
	padding-left: 20px;
}

.home-area .contents p{
	margin: 0;
	padding: 10px 0 0;
	text-align: justify;
	font-size: 100%;
	letter-spacing: 2px;
	word-spacing: 5px;
}
.achievments-area{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29;
	border-radius: 4px;
	display: flex;
	width: 1000px;
}
.achievments-area:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.achievments-area .image{
	width: 150px;
	flex: 0 0 150px;
}
.achievments-area .image img{
	max-width: 100%;
}
.achievments-area .contents{
	padding-left: 20px;
}
.achievments-area .contents p{
	margin: 0;
	padding: 10px 0 0;
	text-align: justify;
	font-size: 100%;
	letter-spacing: 2px;
	word-spacing: 5px;
	color: white;
}
.skills-area{
	position: absolute;
	top: 130%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29 ;
	border-radius: 4px;
	display: flex;
	width: 1000px;
}
.skills-area:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.skills-area .image{
	width: 150px;
	flex: 0 0 150px;
}
.skills-area .image img{
	max-width: 100%;
}
.skills-area .contents{
	padding-left: 20px;
}
.skills-area .contents p{
	margin: 0;
	padding: 10px 0 0;
	text-align: justify;
	font-size: 100%;
	letter-spacing: 2px;
	word-spacing: 5px;
}
.contact-area{
	position: absolute;
	top: 175%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29 ;
	border-radius: 4px;
	display: flex;
	width: 1000px;
	margin-bottom: 3rem;
}
.contact-area:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
.contact-area .image{
	width: 150px;
	flex: 0 0 150px;
}
.contact-area .image img{
	max-width: 100%;
}
.contact-area .contents{
	padding-left: 20px;
}
.contact-area .contents p{
	margin: 0;
	padding: 10px 0 0;
	text-align: justify;
	font-size: 100%;
	letter-spacing: 2px;
	word-spacing: 5px;
}
@media (max-width: 1140px){
	ul li a{
		font-size: 90%;
	}
	.home-area{
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;
		box-sizing: border-box;
		background: #162E29 ;
		border-radius: 4px;
		display: flex;
		width: 800px;
	}
	.achievments-area{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29;
	border-radius: 4px;
	display: flex;
	width: 800px;
	}
	.skills-area{
	position: absolute;
	top: 130%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29 ;
	border-radius: 4px;
	display: flex;
	width: 800px;
	}
	.contact-area{
	position: absolute;
	top: 175%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29 ;
	border-radius: 4px;
	display: flex;
	width: 800px;
	margin-bottom: 3rem;
	}
}
@media (max-width: 940px){
	ul{display: none;}
	.home-area{
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;
		box-sizing: border-box;
		background: #162E29 ;
		border-radius: 4px;
		display: flex;
		width: 500px;
	}
	.achievments-area{
	position: absolute;
	top: 113%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29;
	border-radius: 4px;
	display: flex;
	width: 500px;
	}
	.skills-area{
	position: absolute;
	top: 180%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29 ;
	border-radius: 4px;
	display: flex;
	width: 500px;
	}
	.contact-area{
	position: absolute;
	top: 229%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	background: #162E29 ;
	border-radius: 4px;
	display: flex;
	width: 500px;
	margin-bottom: 3rem;
	}
}